<!-- 
  <div *ngFor="let cliente of clientes">
    {{cliente.id}}
    <br>
    {{cliente.nome}}
    <br>
    {{cliente.senha}}
  </div>
-->
<app-titulo [titulo]="titulo"></app-titulo>

<div class="d-flex">
  <div action="form-inline mr-auto">
    <div class="box form-group mb-2">
      <input type="text" class="busca-cliente form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
      <!-- <button class="btn btn-outline-success">buscar</button> -->
    </div>
  </div>

  &nbsp;
  &nbsp;
  &nbsp;
  
  <div>
    <button class="btn btn-outline-primary" (click)="openModal()">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Cliente
    </button>
  </div>
</div>

<br/>

<h3>Filtro: {{filtroLista}}</h3>



      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Data</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Endereco</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Numero</th>
            <th>UF</th>
            <th>Pais</th>
            <th>Complemento</th>
            <th>Skype</th>
            <th>Status</th>
            <th>Email</th>
            <th>Opções</th>
          </tr>
        </thead>

        
        <tbody class="lista-clientes" *ngIf="clientes && clientes.length" lista>
          <tr class="clientes" *ngFor="let cliente of clientesFiltrados">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.data | DateTimeFormatPipe}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.rg}}</td>
            <td>{{cliente.endereco}}</td>
            <td>{{cliente.bairro}}</td>
            <td>{{cliente.cidade}}</td>
            <td>{{cliente.numero}}</td>
            <td>{{cliente.uf}}</td>
            <td>{{cliente.pais}}</td>
            <td>{{cliente.complemento}}</td>
            <td>{{cliente.skype}}</td>
            <td>{{cliente.status}}</td>
           
           <td>
             <div *ngIf="cliente.emails && cliente.emails.length">
              <select name="Emails" id="emails">
                <option selected="selected" disabled="true">Selecione</option>
                <option *ngFor="let email of cliente.emails">{{email.endereco}}</option>
              </select>
            </div>
          </td>

            <td>
              <div class="btn-group">
                <!-- 
                <button class="btn btn-sm btn-success" tooltip="Editar" (click)="openModalUpdate(cliente)">
                  <i class="fa fa-edit"></i>
                </button>
                -->
                <button [routerLink]="['/cliente', cliente.id, 'edicao']" class="btn btn-sm btn-success" tooltip="Editar">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="openModalDelete(cliente)">
                  <i class="fa fa-eraser"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        
        <tfoot *ngIf="!clientes.length">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhum Cliente encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>

      </table>




<!--  <button type="button" class="btn btn-primary" (click)="template.show()">Static modal</button>  -->

      


      <form [formGroup]="registerForm" id="formulario" class="formulario">

          <h4 id="dialog-static-name" class="modal-title pull-left">{{formatoModal}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="fecharForm()">
            <span aria-hidden="true">&times;</span>
          </button>


        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nome</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
            formControlName="nome" placeholder="Nome">
            <div *ngIf="registerForm.get('nome').hasError('required') && registerForm.get('nome').touched"
            class="invalid-feedback">
            O nome é obrigatório!
            </div>
            <div *ngIf="registerForm.get('nome').hasError('minlength') && registerForm.get('nome').touched"
            class="invalid-feedback">
            O nome deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="registerForm.get('nome').hasError('maxlength') && registerForm.get('nome').touched"
          class="invalid-feedback">
          O nome deve ter no máximo 50 caracteres.
          </div>
        </div>

          <div class="form-group col-md-12">
              <label>Endereço</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('endereco').errors && registerForm.get('endereco').touched}"
              formControlName="endereco" placeholder="Endereço">
              <div *ngIf="registerForm.get('endereco').hasError('required') && registerForm.get('endereco').touched"
              class="invalid-feedback">
              O Endereço é obrigatório!
            </div>
          </div>

       </div>



<div class="form-row">
  
        <div class="form-group col-md-12">
          <label>Bairro</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('bairro').errors && registerForm.get('bairro').touched}"
          formControlName="bairro" placeholder="Bairro">
          <div *ngIf="registerForm.get('bairro').hasError('required') && registerForm.get('bairro').touched"
          class="invalid-feedback">
          O Bairro é obrigatório!
        </div>
       </div>

        <div class="form-group col-md-12">
          <label>Cidade</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('cidade').errors && registerForm.get('cidade').touched}"
          formControlName="cidade" placeholder="Cidade">
          <div *ngIf="registerForm.get('cidade').hasError('required') && registerForm.get('cidade').touched"
          class="invalid-feedback">
          A Cidade é obrigatória!
        </div>
        </div>

</div>

<div class="form-row">

        <div class="form-group col-md-12">
          <label>Numero</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('numero').errors && registerForm.get('numero').touched}"
          formControlName="numero" placeholder="Numero">
          <div *ngIf="registerForm.get('numero').hasError('required') && registerForm.get('numero').touched"
          class="invalid-feedback">
          O Numero é obrigatório!
        </div>
        </div>

        <div class="form-group col-md-12">
          <label>UF</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('uf').errors && registerForm.get('uf').touched}"
          formControlName="uf" placeholder="UF">
          <div *ngIf="registerForm.get('uf').hasError('required') && registerForm.get('uf').touched"
          class="invalid-feedback">
          O UF é obrigatório!
        </div>
        </div>

</div>

<div class="form-row">

        <div class="form-group col-md-12">
          <label>País</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('pais').errors && registerForm.get('pais').touched}"
          formControlName="pais" placeholder="País">
          <div *ngIf="registerForm.get('pais').hasError('required') && registerForm.get('pais').touched"
          class="invalid-feedback">
          O País é obrigatório!
        </div>
      </div>

        <div class="form-group col-md-12">
          <label>Complemento</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('complemento').errors && registerForm.get('complemento').touched}"
          formControlName="complemento" placeholder="Complemento">
          <div *ngIf="registerForm.get('complemento').hasError('required') && registerForm.get('complemento').touched"
          class="invalid-feedback">
          O Complemento é obrigatório!
        </div>
      </div>

</div>

<div class="form-row">

        <div class="form-group col-md-12">
          <label>Skype</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('skype').errors && registerForm.get('skype').touched}"
          formControlName="skype" placeholder="Skype">
          <div *ngIf="registerForm.get('skype').hasError('required') && registerForm.get('skype').touched"
          class="invalid-feedback">
          O Skype é obrigatório!
        </div>
      </div>

        <div class="form-group col-md-12">
          <label>Status</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('status').errors && registerForm.get('status').touched}"
          formControlName="status" placeholder="Status">
          <div *ngIf="registerForm.get('status').hasError('required') && registerForm.get('status').touched"
          class="invalid-feedback">
          O Status é obrigatório!
        </div>
      </div>

</div>
  
  <!--
  <div class="form-row">
  <div class="form-group col-md-4">
    <label>Data e Hora</label>
    <input type="text" class="form-control" value="{{cliente.data | DateTimeFormatPipe}}"
    bsDatepicker
    [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm a' }"
    [ngClass]="{'is-invalid': registerForm.get('data').errors && registerForm.get('data').touched}"
    formControlName="data" placeholder="Data">
    <div *ngIf="registerForm.get('data').hasError('required') && registerForm.get('data').touched"
    class="invalid-feedback">
    A data é obrigatória!
  </div>
  </div>
  -->

  <div class="form-row">

      <div class="form-group col-md-12">

        <label>Data e Hora</label>
        <input type="text" class="form-control" bsDatepicker value="{{data | DateTimeFormatPipe}}"
          [(ngModel)]="data" [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }" [ngClass]="{'is-invalid': registerForm.get('data').errors 
        && registerForm.get('data').touched}" formControlName="data" placeholder="Data">
        <div *ngIf="registerForm.get('data').hasError('required')
        && registerForm.get('data').touched" class="invalid-feedback">
          Data e hora é obrigatório.
        </div>
        </div>

            <div class="form-group col-md-12">
          <label>RG</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('rg').errors && registerForm.get('rg').touched}"
          formControlName="rg" placeholder="RG">
          <div *ngIf="registerForm.get('rg').hasError('required') && registerForm.get('rg').touched"
          class="invalid-feedback">
        O RG é obrigatório!
        </div>
        </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label>CPF</label>
    <input type="text" class="form-control"
    [ngClass]="{'is-invalid': registerForm.get('cpf').errors && registerForm.get('cpf').touched}"
    formControlName="cpf" placeholder="CPF">
    <div *ngIf="registerForm.get('rg').hasError('required') && registerForm.get('cpf').touched"
    class="invalid-feedback">
   O CPF é obrigatório!
  </div>
  </div>
  </div>


  <div class="modal-footer d-flex">
  
      <button class="btn btn-secondary" (click)="fecharForm()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao()">
        Salvar Alterações
      </button>
    
    </div>

</form>





        <div class="modal-content" id="deletar">
          <div class="modal-header">
              <h4 class="modal-title pull-left">
                Deletando Evento
              </h4>
              <button type="button" class="close pull-right" (click)="fecharFormDelete()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>{{bodyDeletarEvento}}</p>
          </div>    
          <div class="modal-footer btn-group d-flex">      
              <button type="button" class="btn btn-outline-primary" (click)="fecharFormDelete()">
                CANCELAR
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="deletarCliente()">
                  DELETAR
              </button>
          </div>
        </div>

<br>
<br>

<!--

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>

-->
